name: Test Package Quality

# CINTENT >> MANUAL_TRIGGER
# on: push
on: [repository_dispatch, workflow_dispatch]

permissions:
  contents: read

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    # CINTENT >> INSERT_CINTENT
    - uses: JavidDitty/setup-cintent@3638849e94bdb037f0a405375686a8550e6df904
      with:
        nonblocking: true
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest
    - name: Install package
      run: |
        python -m pip install -e .
    - name: Run Linting
      run: |
        pre-commit install
        pre-commit autoupdate
        pre-commit run --all
    - name: Unit tests
      run: |
        python -m pytest tests/
        rm -rf tmp/
    # CINTENT >> INSERT_CINTENT
    - name: Upload CIntent Artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: ${{ env.CINTENT_ARTIFACT_NAME }}
        path: ${{ env.CINTENT_LOGS }}
